*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* HEADER  */
header{
  background-color:#5c9ff5;
  padding-top: 40px;
  background-image:url(../img/pattern.png);
  background-repeat: repeat;
  background-position: top;
  height: 100px;
}

#logo{
   width: 150px;
   margin-bottom: 10px;
}

body{
  font-family: 'Roboto Slab', serif;
}

/* MAIN  */

main{
  margin: 5px 20px;
} 
.autore{
  color: lightslategray;
  margin-top: 5px;
  margin-bottom: 15px;
} 

#special{
  color: rgb(48, 205, 223);
} 

.foto-tim{
  background-size: 400px;
} 

figcaption{
  font-size: .5em;
  color: black;
} 

.paragrafo{
  margin: 10px 5px;
  mar
} 

.evidenziatura{
  background-color: yellow;
} 

table{
  text-align: left;
  border-collapse: collapse;
} 

thead{
  background-color: #5c9ff5;
  color: white;
  width: 300px;
} 

table .first{
  width: 300px;
} 

.colore-scuro{
  background-color: #9fbfe8;
} 

/* footer */
.conteiner-monitor{
  background-image: url(../img/monitor.jpg);
  width: 300px;
  height: 200px;
  margin-top: 10px;
} 
.conteiner-graph{
  background-image: url(../img/graph.jpg);
  width: 300px;
  height: 200px;
  margin-top: 10px;
}  

.descrizione-img{
  color: white;
  margin-left: 5px;
  margin-top: 10px;
} 